.cart--page {
    flex: 1 0 auto;
    align-content: center;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(30);
        padding-top: toRem(20);
        padding-bottom: toRem(20);
    }

    &__money {
        align-self: end;
        font-size: toRem(24);
        font-weight: 600;
        color: $blue;
        &::after{
            content:'€';
        }
    }

    &__main-text{
        font-size: toRem(30);
        font-weight: 500;
        color: $royalBlue;
    }

    &__box {
        padding: toRem(15);
        @include box();
        @include adaptiveValue("width", 800, 290, 0);
    }

    &__total {
        font-weight: 600;
        color: $blue;
        text-align: end;
        @include adaptiveValue("font-size", 24, 20);
    }

    &__button {
        color: #ffffff;
        @include buttonDefault($color: $blue, $secondColor: $skyBlue);
    }
}