// Заголовки, загальні БЕМ блоки та інше...
//================================================================LIST========================================================================================
.list {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    position: relative;
    z-index: 1;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("gap", 20, 10);

        @media (max-width: toEm(1115)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex: 0 1 75%;
        @include adaptiveValue("gap", 30, 10);

        @media (max-width: toEm(1115)) {
            flex: 0 0 100%;
        }

        @media (max-width:$mobile) {
            flex-wrap: wrap;
        }

    }

    &__number {
        font-weight: 600;
        color: $royalBlue;
        flex: 0 0 toRem(40);
        text-align: center;
        @include adaptiveValue("flex-basis", 40, 20);
    }

    &__title {
        color: $blue;
        font-weight: 800;
        @include adaptiveValue("font-size", 20, 16);
    }

    &__text {}

    &__description {
        @include adaptiveValue("font-size", 16, 14);

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 8, 4);
        }
    }

    &__price {
        color: $blue;
        font-weight: 800;

        @media (max-width:$mobile) {
            font-weight: 600;
            font-size: toRem(16);
        }
    }

    &__delete {
        align-content: center;
        padding: toRem(4);
        border: 0px solid transparent;
        background-color: rgba(100, 77, 237, 0.08);
        border-radius: toRem(5);
        transition: all 0.2s linear;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
                    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
                    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
                    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
                    99px 72px 143px rgba(0, 0, 0, 0.08);
            }
        }
    }

    &__button {
        border: solid 3px $royalBlue;
        padding: toRem(6) toRem(9);
        transition: all 0.3s;
        border-radius: 50%;

        img {
            transition: all 0.3s;
            vertical-align: baseline;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $lightBlue;

                img {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__empty {
        text-align: center;
    }

    &__select {
        @media (max-width: $mobile) {
            margin: 0 auto;
        }
    }
}

//============================================================INCREMENT DECREMENT COUNTER============================================================================================
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.quantity__minus,
.quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    transition: all 0.3s;
}

.quantity__minus:hover,
.quantity__plus:hover {
    background: #575b71;
    color: #fff;
}

.quantity__minus {
    border-radius: 3px 0 0 3px;
}

.quantity__plus {
    border-radius: 0 3px 3px 0;
}

.quantity__input {
    width: 32px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
}

.quantity__minus:link,
.quantity__plus:link {
    color: #8184a1;
}

.quantity__minus:visited,
.quantity__plus:visited {
    color: #fff;
}

//========================================================================================================================================================