.header {
    background-color: $darkBlue;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: toRem(100);
        padding-top: toRem(10);
        padding-bottom: toRem(10);
    }

    &__logo {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        z-index: 4;

        img {
            max-width: 100%;
            @include adaptiveValue("height", 100, 80);
        }

    }

    &__menu {}

    &__right {
        display: flex;
        position: relative;
        z-index: 4;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("gap", 40, 10);
    }

    &__cart {}

    &__logout {
        --blue: #1bfde3;
        font-size: 15px;
        padding: 0.7em 2.7em;
        letter-spacing: 0.06em;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--blue);
        background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
        color: var(--blue);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);

        &::before {
            content: "";
            position: absolute;
            left: -4em;
            width: 4em;
            height: 100%;
            top: 0;
            transition: transform .4s ease-in-out;
            background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
        }

        @media (any-hover: hover) {
            &:hover {
                color: #82ffc9;
                box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);

                &:before {
                    transform: translateX(15em);
                }
            }
        }
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes impulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        box-shadow: 0px 0px 25px 0px $skyBlue;
    }
    100% {
        transform: scale(1);
    }

}

.impulse {
    animation: impulse 0.5s;
}

.cart {
    display: flex;
    align-items: center;
    gap: toRem(12);

    @media (any-hover: hover) {
        &:hover {
            .cart__image {
                animation: tilt-shaking 0.5s;
            }
        }
    }

    &__amount {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        border-radius: 50%;
        color: #fff;
        padding: toRem(3) toRem(6);
        font-weight: 600;
    }

    &__image {
        width: toRem(40);

        img {
            max-width: 100%;
        }
    }
}

.menu {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: toRem(25);

        .menu__list {
            flex: 1 1 auto;
        }
    }

    &__list {
        display: flex;
        gap: toRem(15);
        @media (max-width:$mobile){
             gap: toRem(25); 

        }
    }

    &__item {}

    &__link {
        font-weight: 600;
        transition: all 0.3s;
        position: relative;
        @media (max-width:$mobile){
             font-size: toRem(30); 
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: toRem(4);
            border-radius: toRem(4);
            background-color: #1bfde3;
            bottom: toRem(-4);
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        @media (any-hover: hover) {
            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }

    &__icon {}
}

.icon {
    &-menu {}
}